# Yandex Maps API Key
NEXT_PUBLIC_YANDEX_MAPS_API_KEY=

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/lenskaya

# Redis
UPSTREDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# JWT Secret
JWT_SECRET=

# Admin credentials
ADMIN_EMAIL=admin@lenskaya.ru
ADMIN_PASSWORD=

# Site URL
NEXT_PUBLIC_SITE_URL=https://lenskaya.ru
